
<div class="container" style="margin-top: 20px;">
    <div class="row" style="text-align: center;">
      <div class="col-md-6">
        <div class="jumbotron">
          <span style="font-size: 50px;"><b>{{indiasdata.totalConfirmed|number:''}}</b></span> Confirmed
        </div>
      </div>
      <div class="col-md-6">
        <div class="jumbotron">
          <span style="font-size: 50px;"><b>{{indiasdata.totalDeceased|number:''}}</b></span> Deceased
        </div>
      </div>
    </div>
    <div class="row" style="text-align: center;"> 
      <div class="col-md-6">
        <div class="jumbotron">
          <span style="font-size: 50px;"><b>{{indiasdata.totalRecovered|number:''}}</b></span> Recovered
        </div>
      </div>
      <div class="col-md-6">
        <div class="jumbotron">
          <span style="font-size: 50px;"><b>{{indiasdata.totalActive|number:''}}</b></span>Active
        </div>
      </div>
    </div>
   
   
     
    </div>
  
   